
.gitconfig
.lesshst
.vscode/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT*
OneDrive/
PCManger/
.bash_history
Pictures/
Saved Games/
Searches/
Videos/
ntuser.dat.*
ntuser.ini

!IdeaProjects/
.idea/
.vscode/
*.class
*.log
*.tmp
.venv/
.DS_Store
Thumbs.db